<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
     <link rel="stylesheet" href="/estilos.css">
    </head>
<body>
    <h2>Arquitectura cliente-Servidor</h2>     
<p>El cliente envía una solicitud de la información que desea a una Aplicación Web; el
cual pertenece a una empresa/negocio (Claro, Viva, Altice, etc.) atravez del
internet utilizando navegadores tales como Google, Edge, Brave, Mozilla entre
otros a dicho servidor web donde este validara y enviara respuesta dependiendo
de su nivel de acceso en dicha empresa negocio</p>

   <h2>Arquitectura de 3 capas o Modelo-Vista-Controlador (MVC)</h2>
<p>El usuario le solicita una información al controlador y el controlador a su vez se lo
solicita al modelo el cual se encarga de buscar, consultar, actualizar, borrar,
insertar, dicha solicitud también el controlador le solicita a la vista que visualice
toda la información que le proporcione modelo al usuario que este pueda
entender</p>

<h2>Arquitectura de 6 capas consiste en </h2>
<h3>Divide la capa Vista</h3>
<h3>Nivel del Cliente</h3>
<p>¡donde se visualiza los botones, menú, nombre de la página web, su contenido en
sí, las barras de deslizamientos, los iconos que el usuario pueda entender.
</p>

<h3>Nivel de lógica de Presentación</h3>
<p>Se utilizan para dar diseños a esa presentación visual atravez de scripts dando
forma y color que solo esta a un nivel más profesional.
</p>
   
   <h2>Divide la capa Modelo</h2> 
   <h3>Nivel de Datos</h3>
   <p>Hacer referencia a la información guardada dentro de una base de datos el cual se
   pueda guardar contraseña, registros, información que sea de interés para la
   empresa</p>
   
   <h3>Nivel de acceso Datos</h3>
   <p>Se utilizan para diseñan permisos y validación, pero a un nivel de código asea un
   nivel más desarrollador.</p>
   
   <h3>Nivel de lógica del Negocio</h3>   
   <p>Hace referencia a los que la empresa necesita proteger el cual es la información
   por tanto se debe tener cierto nivel de acceso a la página web de la empresa
   dentro y fuera de la empresa. </p>

   <h3>Nivel Web</h3>   
   <p>Y diseña la página de acuerdo a la misión, visión, objetivo y metas que le pueda
     proporcionar más ingreso y a la vez generar confianza a los usuarios.</p>
</body>
</html>
